/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*  -------------Variable Definitions--------------  */
:root { /* Increase to see borders for debugging */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*  -------------Body Styling-------------  */
body {
  border: 0px solid magenta; /* border for debugging  */
  /*background: linear-gradient(var(--color-white), var(--color-background-gradient), var(--color-white));*/

  /*  Lato font from GoogleFonts  */
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  /*  Sets the font size, line height, left margin for body element  */
  font-size: 16px;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
}

/* -------------Link Styling------------- */
a {
  color: #357b70; /*  Link color - unvisited state  */
}

a:hover {
  text-decoration: none; /*  Removes underline on a link with mouseover  */
  color: #00f;
}

a:focus {
  text-decoration: none; /*  Removes underline on a link with mouseover  */
  color: #00f;
}

a:active {
  color: #489c79;
}

/*  -------------Header Styling-------------  */
header {
  border: 0px solid brown; /* border for debugging  */
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*  flexbox  */
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px dashed green; /* border for debugging  */

}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px; /*  flex-grow flex-shrink flex-basis  */
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* -------------Nav Bar Styling------------- */
.navigation-list {
  border: 0px dashed blue; /* border for debugging  */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; /* Right align buttons */
}

.navigation-list__item {
  border: 0px solid magenta; /* border for debugging  */
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #dededede;
  color: #000000;
  text-decoration: none;
  height: 40px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  text-align: center;
}

.navigation-list__item-left_button{
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
}

.navigation-list__item-right_button{
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
}


.navigation-list__item:hover,
.navigation-list__item:focus {
  background-color: #f0f0f0;
  color: #000;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.logo-image{
    border: 0px dashed red; /* border for debugging  */
  width:30%;
}

@media all and (max-width: 570px) {
  .navigation-list__item {
    font-size: 14px;
    height:30px;
  }
}

/*  -------------Footer Styling-------------  */
footer {
  border: 0px solid magenta; /* border for debugging  */
  font-size: 16px;
  line-height: 1.4;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-media-icons {
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
} 

.social-media-icons:hover {
  cursor: pointer;
  -webkit-transform: scale(110%);
      -ms-transform: scale(110%);
          transform: scale(110%);
}

/* -------------Headings Styling------------- */
h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/* -------------Button Styling------------- */

/* Borders, colors, font (inherit Lato from body rule set), padding, underline  */
button {
  font-family: inherit;
  background-color: #dededede;
  border: 0px solid magenta; /* border for debugging  */
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #dededede;
  color: #000000;
  text-decoration: none;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  text-align: center;
}
.button {
  font-family: inherit;
  background-color: #dededede;
  border: 0px solid magenta; /* border for debugging  */
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #dededede;
  color: #000000;
  text-decoration: none;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  text-align: center;
}

button:hover,
.button:hover{
  cursor: pointer;
  background-color: #f0f0f0;
  color: #000;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

button:active,
.button:active{
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

/* -------------Profile Section Styling (index.html)------------- */

.profile {
  border: 0px solid magenta; /* border for debugging */
  text-align: left;
  max-width: 700px;
  height: 260px; /* use height of profile__portrait */
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 15%;
}

/* Responsive design: Adjusts profile picture dimensions and margins for screen sizes with max width 500 pixels */
@media all and (max-width: 500px) {
  .profile__portrait {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
}

.profile-flexbox {
  border: 0px solid magenta; /* border for debugging */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: middle;
      align-content: middle;
}

.profile-flexbox__item {
  border: 0px solid magenta; /* border for debugging */
  margin-bottom: 20px;
}

.profile-flexbox__item:first-child {
  margin-top: 20px;
}

/* -------------Grid Styling (work.html)------------- */

/* START: fallback to inline-block if CSS grid unsupported */
.grid__item {
  display: inline-block; /* Will allow grid__item to still display */
  width: 30%;
}

/* END: Grid fallback */

@supports (display: grid) {
  .grid {
    border: 0px solid magenta; /* border for debugging */
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid__item {
  border: 0px solid magenta; /* border for debugging */
  background-color: #d3d3d3;
  padding: 10px;
  width: auto;
  min-height: auto;
  margin: 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.grid__item:hover {
  background-color: #add8e6;
  color: #000080;
  -webkit-transform: scale(102%);
      -ms-transform: scale(102%);
          transform: scale(102%);
  /*animation: 0.5s flash 1 normal; remove or keep? preference? */
}

/*
This flash animation is a modified excerpt from ChatGPT query :
"I would like to add a hover transition to a grid item in my
html file that makes the grid item grow slightly land flash."
*/
@-webkit-keyframes flash { /* Reveresed order of opacity so grid__item fades in */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes flash { /* Reveresed order of opacity so grid__item fades in */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.grid__item_img {
  width: 100%;
  height: auto;
  border-radius: 3%;
  display: block;
}

/* ---------------Responsive Design Section (work.html)--------------- */

/* For screens up to 500 pixel width (smart phones & tablets) */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

/* --------------- About/Animation Secction (about.html) --------------- */

.about-container {
  border: 0px dashed orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-me-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.about-picture {
  display: inline-block;
  width: 40%;
  border: 0px solid blue; /* border used for debugging */
  margin-top: 20px;
}

.svg-picture {
  height: auto;
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
  max-height: 400px;
}

@media all and (max-width: 570px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-me-text {
    width: auto;
  }

  .about-picture {
    border: 0px dashed purple;
    width: 100%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
}

/* Sun */
@-webkit-keyframes move-sun {
  from {
    -webkit-transform: translate();
            transform: translate();
  }

  to {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}
@keyframes move-sun {
  from {
    -webkit-transform: translate();
            transform: translate();
  }

  to {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}

.sun-inner-big,
.sun-inner-small,
.sun-border {
  -webkit-animation: 10s move-sun infinite alternate ease-in-out;
          animation: 10s move-sun infinite alternate ease-in-out;
}

/* Sky */
@-webkit-keyframes sky-color-change { /* Changes color of the sky as sun sets & rises */
  0% {
    fill: #83ffff;
  }

  50% {
    fill: #e65e03;
  }

  100% {
    fill: #03025f;
  }
}
@keyframes sky-color-change { /* Changes color of the sky as sun sets & rises */
  0% {
    fill: #83ffff;
  }

  50% {
    fill: #e65e03;
  }

  100% {
    fill: #03025f;
  }
}

.background {
  -webkit-animation: 10s sky-color-change infinite alternate linear;
          animation: 10s sky-color-change infinite alternate linear;
}

/* Clouds */
@-webkit-keyframes cloud-move-left {
  from {
    -webkit-transform: translateX(-220px);
            transform: translateX(-220px);
  }

  to {
    -webkit-transform: translateX(520px);
            transform: translateX(520px);
  }
}
@keyframes cloud-move-left {
  from {
    -webkit-transform: translateX(-220px);
            transform: translateX(-220px);
  }

  to {
    -webkit-transform: translateX(520px);
            transform: translateX(520px);
  }
}

@-webkit-keyframes cloud-move-right {
  from {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
  }

  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes cloud-move-right {
  from {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
  }

  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.cloud-left {
  -webkit-animation-name: cloud-move-left;
          animation-name: cloud-move-left;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud-right {
  -webkit-animation-name: cloud-move-right;
          animation-name: cloud-move-right;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* -------------- Error message class (contact.html) -------------- */
.error-msg {
  color: #ff0000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}